*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

body {
  background:url(../bg.png);
  font-family: 'Titillium Web', sans-serif;
  //background-size:cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #fff;
  transition: .5s ease;
}
a:hover {
  //color: #179b77;
}

.form {
  padding: 40px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 3%;
  right: 3%;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  transition: .5s ease;
  background-color: rgba(128, 128, 128,0.8);
}



h1 {
  text-align: center;
  color: #fff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255,255,255,0.7);
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: red;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #000;
  margin-top:-10px;
}

input {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus{
  outline: 0;
  border-color: #000;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2vh;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #ffa64d;
  color: #ffffff;
  transition: all 0.5s ease;
}
.button:hover, .button:focus {
  background: #ff8000;
}

.button-block {
  display: block;
  width: 10%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
  margin-bottom:10px;
}

.user-list{
  height: 555px;
  width: 20%;
  float: left;
  background-color: rgba(256, 256, 256,0.5);
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

#logout{
  position: absolute;
  top: 0;
  right: 0;
}

.chat{
  height: 90%;
  width: 100%;
  float: left;
  //margin-left: 5%;
  background-color: rgba(256, 256, 256,0.5);
  //box-shadow: 0 1px 5px 4px rgba(19, 35, 47, 0.3);
}

#send-message{
  width: 100%;
  height: 10%;
  float: left;


}

#send-message input{
  border: none;
  border-top: 1.5px solid #ffa64d ;
  float: left;
  width: 80%;
  background-color: rgba(256, 256, 256,0.6);
  height: 100%;

}

.sbutton {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 0;
  font-size: 4vh;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #ffa64d;
  color: #ffffff;
  transition: all 0.5s ease;
  float: left;


}
.sbutton:hover, .button:focus {
  background: #ff8000;
}

.sbutton-block {
  display: block;
  width: 20%;
  height: 100%;

}
#chwind{
  height: 555px;
  width: 75%;
  float:left;
  margin-left: 5%;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);

}
.tinput{
  height: 100%;
}
.user-list{
  list-style-type:none;

}
.user-list li{
  padding-top:10px;
  padding-left: 10px;


}
.chat{
  overflow-y:scroll;
  overflow-x: hidden ;
  width: 100%;
}
.chat .message{
  width: 70%;
  padding-top: 10px;



}
.chat .message p{
  display: inline;

}
.mine{
  margin-left: 30%;
  background-color: rgba(255, 153, 0,0.7);
}
.notmine{
  background-color: rgba(256, 256, 256,0.5);
}

#frsender{
    position: absolute;
    top: 25%;
    left: 30%;
    width: 40%;
    height: 50%;
    background-color: green;

}
#frbox{
  position: absolute;
  top: 25%;
  left: 30%;
  width: 40%;
  height: 50%;
  background-color: green;
}
#groupBox{
  position: absolute;
  top: 25%;
  left: 30%;
  width: 40%;
  height: 50%;
  background-color: green;
}
#grcreater{
  position: absolute;
  bottom: 0;
}
#grbclose{
  position: absolute;
  bottom: 0;
}